<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style type="text/tailwindcss">
          @theme {
            --font-roboto: "Roboto", sans-serif;
          }

          .table-col {
            @apply w-1/8 flex justify-center items-center;
          }
          .btn-style {
            @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-500 rounded cursor-pointer;
          }
        </style>
</head>
<body class="w-full p-4 text-white font-roboto bg-gray-900">

    {% block PageName %}{% endblock %}
    {% include "base/_navbar.html" %}
   {% block content%}
    {% endblock %}


</body>
</html>