aiofiles==24.1.0
asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
Django==5.2.6
django-browser-reload==1.19.0
fonttools==4.60.1
h11==0.16.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
kiwisolver==1.4.9
matplotlib==3.10.6
numpy==2.3.3
packaging==25.0
pillow==11.3.0
platformdirs==4.4.0
pooch==1.8.2
psutil==7.1.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pyvista==0.46.3
requests==2.32.5
scooby==0.10.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.37.0
vtk==9.5.2
whitenoise==6.11.0